body {
    background-image: url(https://wallpaperplay.com/walls/full/e/9/4/317644.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top; 
    height: 100vh;
    overflow: hidden;
}

.scroll {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    height: 75vh;
}

.center {
    margin: 0 auto;
}

h1.f1 {
    margin: 20px auto 10px auto;
    color: white;
}

.num {
    margin: 0 200px 0 auto;
}

h2 {
    font-size: 1.5rem;
}

.logo {
    width: 6rem;
}

div.card p {
    font-weight: 400;
    font-size: 1.25rem;
}

.bg-color {
    background-color: rgba(255, 255, 255, 0.95);
}

.ui.fluid.dropdown {
    display: block;
    width: 225px;
    margin: 7px auto 0 auto;
}

input[type=email], input[type=password], input[type=search], input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 225px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.inputs {
    display: flex;
    justify-content: center;
    align-content: center;
}

.card {
    width: 290px;
    height: 300px;
}